---
---
RewriteEngine On

# no-www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# redirect my name domain to my vanity domain
RewriteCond %{HTTP_HOST} ^jasonweathered\.com$ [NC]
RewriteRule ^(.*)$ https://jasoncodes.com/$1 [R=301,L]

# redirect /feed to atom.xml
RewriteRule ^feed$ /atom.xml

# disable multiviews and directory listings
# we're going to use rewriting instead of MultiViews
Options -MultiViews -Indexes
DirectorySlash Off

# short post URLs
{% for post in site.posts %}{% if post.short %}redirect 301 /{{ post.short }} {{ site.url }}{{ post.id }}
{% endif %}{% endfor %}

RedirectMatch 302 ^/posts$ /

# redirect away /index.html from URLs
RewriteCond %{ENV:REDIRECT_DONE} ^$
RewriteCond %{REQUEST_URI} (.*)/index(?:\.html?)?$
RewriteRule .* %1/ [R=301,L]

# redirect away .html and slashes from URLs
RewriteCond %{ENV:REDIRECT_DONE} ^$
RewriteCond %{REQUEST_URI} (.+)(.html|/)$
RewriteRule .* %1 [R=301]

# interpret /foo/bar as /foo/bar.html
RewriteCond %{ENV:REDIRECT_DONE} ^$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule .* %{REQUEST_URI}.html [E=DONE:1]

# no caching on our text/html content (maybe later)
ExpiresActive On
ExpiresByType text/html "access"

# allow long caching of assets with cache busting
RewriteCond %{REQUEST_URI} (css|js|jpe?g|png|gif|ico)$ [NC]
RewriteCond %{QUERY_STRING} ^[0-9]+$
RewriteRule ^(.*)$ $1 [env=is_cacheable:true]
Header set Cache-Control "public, max-age=31536000" env=is_cacheable

# set content types for fonts and icons
AddType font/ttf ttf
AddType font/otf otf
AddType application/vnd.ms-fontobject eot
AddType image/vnd.microsoft.icon ico

# set our 404 handler
# we don't use "404.html" here as our rewrite rules from above apply
# (i.e. it would 301 to /404.html instead of returning 404)
ErrorDocument 404 /404
# we get a 403 from accessing directories without index files. This is effectively a 404 as well.
ErrorDocument 403 /404

# tell IE we want the best renderer available (Chrome Frame if possible)
<Files "*.html">
	Header set X-UA-Compatible "IE=edge,chrome=1"
</Files>
