---
layout: default
site_index: true
---

<h1>Posts</h1>

<section class="posts">
  {% for post in site.posts %}
    <article>
      <time pubdate>{{ post.date | date: "%Y-%m-%d") }}</time>
      &raquo;
      <a href="{{ post.url }}">{{ post.title }}</a>
      {% if post.updated %}
        <span class="updated">
          (updated <time>{{ post.updated | date: "%Y-%m-%d") }}</time>)
        </span>
      {% endif %}
    </article>
  {% endfor %}
</section>

<h1>Open Source Projects</h1>

<ul class="projects">
  <li>
    <a href="http://freshshell.com/">fresh</a>
    No need to copy pasta those dotfiles around anymore.
    Keep your dot files fresh.
  </li>
  <li>
    <a href="http://github.com/jasoncodes/activerecord_views">ActiveRecordViews</a>
    Automatic PostgreSQL database view creation for ActiveRecord.
  </li>
  <li>
    <a href="http://github.com/jasoncodes/filter_io">filter_io</a>
    Filter IO streams with a block. Ruby's FilterInputStream.
  </li>
  <li>
    <a href="http://github.com/jasoncodes/rescue_each">rescue_each</a>
    Rescue multiple exceptions when enumerating over Enumerable or ActiveRecord objects.
  </li>
</ul>
