header.large
{
	font-size: 240%;
}

body.reverse
{
	background: black;
	color: white;
}
body.reverse > header > h1 > span.codes
{
	color: #555;
}
body.reverse > header > h2
{
	color: #bbb;
	border-top-color: #333;
}

body > p.controls
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10.5pt;
	margin-bottom: 2em;
}
body > p.controls > span
{
	cursor: pointer;
	margin-right: 0.5em;
	color: #33d;
	text-decoration: none;
	display: inline-block;
	width: 4em;
	text-align: center;
}
body > p.controls > span:hover,
body > p.controls > span:active
{
	text-decoration: underline;
	color: #55f;
}

body.reverse > p.controls > span
{
	color: #309;
}
body.reverse > p.controls > span:hover,
body.reverse > p.controls > span:active
{
	color: #40e;
}
