<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% if page.title %}{{ page.title | strip_html }} &ndash; {% endif %}Jason Codes{% if page.site_index %} :: {{ site.subtitle }}{% endif %}</title>
		<meta name="author" content="{{ site.author.name }}" />
		{% if site.feed_url %}<link href="{{ site.feed_url }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />{% endif %}{% if page.short %}
		<link rel="shorturl" href="{{ site.url }}/{{ page.short }}" />{% endif %}{% if page.slug %}
		<link rel="canonical" href="{{ site.url }}/posts/{{ page.slug }}" />{% endif %}
		<link rel="shortcut icon" href="{{ assets["favicon.ico"].digest_path }}" type="image/vnd.microsoft.icon" />
		<link rel="icon" href="{{ assets["favicon.png"].digest_path }}" type="image/png" />
		<link rel="apple-touch-icon" href="{{ assets["apple-touch-icon.png"].digest_path }}" type="image/png" />
		{% asset screen.css %}
		{% asset source-mac_classic.css %}
		{% asset main.js %}
		<meta content="width=device-width,initial-scale=1" name="viewport" />
	</head>
	<body>
		<header>
			<hgroup>
				<h1>
					<a href="/" rel="index">
						<span class="jason">Jason</span><span class="space">&nbsp;</span><span class="codes">Codes</span>
					</a>
				</h1>
			</hgroup>
			<aside>
				<span class="what">code <span class="amp">&amp;</span> rants</span> of
				<a href="https://jasonweathered.com/"{% if page.site_index %} rel="me"{% endif %}><strong class="who">Jason Weathered</strong></a><span class="period">.</span>
			</aside>
			{% if page.site_index %}
				<ul class="links">
					{% for item in site.links %}
						<li class="{{ item.key }}">
							<a href="{{ item.url }}"{% if item.me %} rel="me"{% endif %}>
								<span class="name">{{ item.name }}</span>
								<span class="suffix">{{ item.suffix }}</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</header>
		{{ content }}
	</body>
</html>
