<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% if !page.title %}{{ page.title | strip_html }} &ndash; {% endif %}Jason Codes{% if page.site_index %} :: {{ site.subtitle }}{% endif %}</title>
		<meta name="author" content="{{ site.author.name }}" />
		{% if site.feed_url %}<link href="{{ site.feed_url }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />{% endif %}{% if page.short %}
		<link rel="shorturl" href="{{ site.url }}/{{ page.short }}" />{% endif %}{% if page.slug %}
		<link rel="canonical" href="{{ site.url }}/posts/{{ page.slug }}" />{% endif %}
		{% link images/favicon.ico rel="shortcut icon" type="image/vnd.microsoft.icon" %}
		{% link images/favicon.png rel="icon" type="image/png" %}
		{% link images/apple-touch-icon.png rel="apple-touch-icon" type="image/png" %}
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		{% stylesheet screen media="screen" %}
		{% stylesheet source-mac_classic media="screen" %}
		{% javascript main %}
		<meta content="width=device-width,initial-scale=1" name="viewport" />
	</head>
	<body>
		<header>
			<hgroup>
				<h1>
					<a href="/" rel="index">
						<span class="jason">Jason</span><span class="space">&nbsp;</span><span class="codes">Codes</span>
					</a>
				</h1>
				<h2>Perfect bloggy<span class="period">.</span></h2>
			</hgroup>
			<aside>
				<span class="what">code <span class="amp">&amp;</span> rants</span> of
				<a href="http://jasonweathered.com/"{% if page.site_index %} rel="me"{% endif %}><strong class="who">Jason Weathered</strong></a><span class="period">.</span>
			</aside>
			{% if page.site_index %}
				<ul class="links">
					{% for item in site.links %}
						<li class="{{ item.key }}">
							<a href="{{ item.url }}"{% if item.me %} rel="me"{% endif %}>
								<span class="name">{{ item.name }}</span>
								<span class="suffix">{{ item.suffix }}</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</header>
		{{ content }}
		{% if site.google_analytics_id %}
		<script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', '{{ site.google_analytics_id }}']);
		_gaq.push(['_trackPageview']);
		_gaq.push(function() {
			var newPath = location.pathname + location.search.replace(/[?&]utm_[^?&]+/g, "").replace(/^&/, "?") + location.hash;
			if (history.replaceState) history.replaceState(null, '', newPath);
		});
		(function() {
			if (location.host.match(/(\.local|^localhost)(:\d+)?/)) return;
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		</script>
		{% endif %}
	</body>
</html>
