<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% if !page.title %} {{ page.title }} &ndash; {% endif %}Jason Codes :: code &amp; rants of Jason Weathered</title>
		<meta name="author" content="{{ site.author.name }}" />
		<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico" />
		<link rel="icon" type="image/png" href="/images/favicon.png" />
		<link rel="apple-touch-icon" type="image/png" href="/images/apple-touch-icon.png" />
		<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/screen.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/source-mac_classic.css" />
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
		<link href="/stylesheets/screen480.css" media="only screen and (max-device-width: 480px)" rel="stylesheet" type="text/css" />
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	</head>
	<body>
		<header>
			<hgroup>
				<h1>
					<a href="/" rel="index">
						<span class="jason">Jason</span><span class="space">&nbsp;</span><span class="codes">Codes</span>
					</a>
				</h1>
				<h2>Perfect bloggy<span class="period">.</span></h2>
			</hgroup>
			<aside>
				<span class="what">code <span class="amp">&amp;</span> rants</span> of
				<a href="http://jasonweathered.com/"{% if page.site_index %} rel="me"{% endif %}><strong class="who">Jason Weathered</strong></a><span class="period">.</span>
			</aside>
			<ul class="links">
				{% for item in site.links %}
					<li class="{{ item.key }}">
						<a href="{{ item.url }}"{% if page.site_index %}{% if item.me %} rel="me"{% endif %}{% endif %}>
							<span class="name">{{ item.name }}</span>
							<span class="suffix">{{ item.suffix }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</header>
		{{ content }}
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-12287090-1");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
	</body>
</html>
